@charset "utf-8";

body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
    color: red;
}

.someclass { color: red; }

#someid { color: green; }

body {
    background-color: tan;
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
        text-wrap: balance;
    }
}

li:last-child {
    border: 2px solid orange;
}

h1::after {
    padding-top: 1rem;
}

li ul {
    color: green;
    margin: 20px 5px 30px;
}

@scope "test";
